{# Interface utilisateur pour créer son bulletin #}
{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau bulletin{% endblock %}

{% block body %}
    <h1>Créer un nouveau bulletin pour l'élection : {{ election.theme }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-success">Créer</button>
    {{ form_end(form) }}
{% endblock %}